footer {
  width: 100%;
  background: linear-gradient(135deg, #e0f7fa, #80deea); 
  color: black; 
  text-align: center; 
  padding: 10px 0;
  position: fixed; 
  bottom: 0;
  left: 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
